.history {
    width: 46.2%;
    height: 230px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
  }
  
  .content::-webkit-scrollbar {
    width: 7px;
  }
  
  .content::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  .content::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
  }
  
  .history .header {
    padding: 11px 0px 5px 11px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B6B6B6;
  }
  
  .history .header-text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .history .content {
    height: 180px;
    padding: 5px 0px 5px 5px;
    overflow-y: auto;
  }

  .history .content ul li:nth-child(even) {
    background-color: #D9D9D9;
  }

  .history .content ul li {
    padding-bottom: 8px;
  }

  .date {
    text-align: left;
    font-size: 13px;
    font-style: italic;
  }