.wrapper-second {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.search {
    width: 425px;
    height: 42px;
    display: flex;
    align-items: center;
    border: 1px solid #B6B6B6;
    border-radius: 10px;
    padding: 6px 8px 9px;
    box-sizing: border-box;
}

.search img {
    width: auto;
    height: auto;
}

.search input, .search input:focus {
    width: 395px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 8px;
}

.sort {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
}

.sort span {
    font-size: 27px;
    font-weight: 300;
    margin-left: 5px;
}